<section class="p-about_wrap01">
  <div class="inner-wide">
    <div class="layer">

        <div class="block01">
          <div class="inner">
            <div class="about_head-ttl">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>
              <p>CONCEPT STORY</p>
              <h2>南国の黒糖屋さんがつくる、<br>旅するナッツ</h2>
            </div>

            <div class="flex">
              <div class="left fade_triger">
                <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img01.jpg" alt=""></div>
                <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img02.jpg" alt=""></div>
                <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img03.jpg" alt=""></div>
              </div><!-- /.left-->
              <div class="right">
                <p>
                  南国の恵みが詰まった黒糖と<br class="u-pc">
                  ナッツの絶妙なハーモニー。<br class="u-pc">
                  そこに豊かなフレーバーが加わり、<br class="u-pc">
                  今までにない新たな黒糖ナッツとして<br class="u-pc">
                  お楽しみいただけます。<br class="u-pc">
                  毎日の中にひとときの特別を、<br class="u-pc">
                  自然の風味とともに感じてください。
                </p>
              </div><!-- /.right -->
            </div><!-- /.flex -->

            <p class="txt-en">
              An exquisite harmony of brown sugar and nuts filled with the bounty of the tropics. The rich flavors added to the brown sugar nuts will give you a new taste of brown sugar nuts that you have never had before. Please enjoy a special moment in your daily life with the flavor of nature.
            </p>
          </div><!-- /.inner -->
        </div><!-- /.block01 -->

        <div class="block02">
          <div class="inner">

            <div class="logo img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>

            <div class="box box01 flex">
              <div class="left">
                <div class="concept-swiper01">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide img-box obj-fit mv01">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img04-1.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img04-1.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                    {% comment %} <div class="swiper-slide img-box obj-fit mv02">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img04-2.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img04-2.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide --> {% endcomment %}
                  </div><!-- /.swiper-wrapper -->
                </div><!-- /.concept-swiper01 -->
              </div><!-- /.left -->

              <div class="right">
                <h3>沖縄の黒糖屋さんが考えた、<br><span>黒糖をより楽しんでもらうお菓子</span></h3>
                {% comment %} <p>
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキストテ<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト
                </p> {% endcomment %}
                <p>
                  沖縄の黒糖屋さんが贈る、黒糖をより楽しむためのお菓子。黒糖の深い甘みとコクを引き出し、一口ごとにその豊かな風味が広がるよう工夫しました。自然の恵みを感じながら、特別なひとときをお楽しみください。
                </p>
              </div><!-- /.right  -->
            </div><!-- /.box -->


            <div class="box box02 flex">
              <div class="left">
                <div class="concept-swiper02">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide img-box obj-fit mv01">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img05-1.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img05-1.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                    {% comment %} <div class="swiper-slide img-box obj-fit mv02">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img05-2.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img05-2.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide --> {% endcomment %}
                  </div><!-- /.swiper-wrapper -->
                </div><!-- /.concept-swiper01 -->
              </div><!-- /.left -->

              <div class="right">
                <h3>沖縄の燦々と輝く太陽を浴びた<br><span>サトウキビからできた、楽園の黒糖</span></h3>
                {% comment %} <p>
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキストテ<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト
                </p> {% endcomment %}
                <p>
                  自然の恵みをたっぷりと吸収したサトウキビが、深い甘みとコクを生み出します。手間暇を惜しまず丁寧に作り上げた黒糖は、沖縄の豊かな風土を感じる一品です。
                </p>
              </div><!-- /.right  -->
            </div><!-- /.box -->


            <div class="box flex">
              <div class="left">
                <div class="concept-swiper03">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide img-box obj-fit mv01">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img06-1.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img06-1.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                    {% comment %} <div class="swiper-slide img-box obj-fit mv02">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img06-2.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img06-2.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide --> {% endcomment %}
                  </div><!-- /.swiper-wrapper -->
                </div><!-- /.concept-swiper01 -->
              </div><!-- /.left -->

              <div class="right">
                <h3>黒糖ナッツで、日本と世界を旅する</h3>
                {% comment %} <p>
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキストテ<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト
                </p> {% endcomment %}
                <p>
                  一粒に凝縮された沖縄産黒糖の深い甘みと、厳選されたフレーバーが、異国の地や懐かしい風景へと誘います。地元の素材と世界の味が融合した特別なナッツで、心の旅をお楽しみください。
                </p>
              </div><!-- /.right  -->
            </div><!-- /.box -->

            <div class="ashirai img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_ashirai.svg" alt=""></div>

          </div><!-- /.inner -->
        </div><!-- /.block02 -->
    </div>
  </div><!-- /.inner-wide -->
</section><!-- /.p-about_wrap01 -->

<section class="p-about_wrap02">
  <div class="inner-wide">
    <div class="layer">
      <div class="inner">
        <div class="flex">
          <div class="left">
            <h3>ロゴマークに込めた想い</h3>
            <p>
              黒糖の原料となるサトウキビと、沖縄の海を組み合わせたロゴ。<br>
              昔から親しまれている素材を組み合わせた新たな黒糖菓子として、<br>
              日本や沖縄の菓子として広く長く届けられるよう<br>
              家紋のような形状のシンボルにしております。
            </p>
          </div><!-- /.left -->
          <div class="right">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/logo.png" alt=""></div>
          </div><!-- /.right -->
        </div>
      </div><!-- .inner -->
    </div><!-- /.layer -->
  </div><!-- /.inner-wide -->
</section><!-- /.p-about_wrap02 -->


{% comment %} <div class="top-banner_wrap">
  <div class="inner layer">
    <div class="card-wrapper">
      <div class="card-contents">
        <div class="img-box">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/banner01.jpg" alt="">
            <div class="btn-wrap"><p class="btn01">VIEW DETAIL</p></div>
          </a>
        </div><!-- /.img-box -->
      </div>
    </div><!-- /.card-wrapper -->
    <div class="card-wrapper card02">
      <div class="card-contents">
        <div class="img-box">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/banner02.jpg" alt="">
            <div class="btn-wrap"><p class="btn01">VIEW DETAIL</p></div>
          </a>
        </div>
      </div>
    </div><!-- /.card-wrapper -->
  </div><!-- /.inner -->
</div><!-- /.top-banner_wrap --> {% endcomment %}
{% section 'concept-banner' %}


<section class="p-top_wrap02 layer">

    <div class="head-ttl">
      <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>
      <h2>商品一覧</h2>
    </div>

    <div class="itemlist-swiper">

      <div class="swiper-wrapper">

        {% for product in collections.all.products limit: 10 %}
          <div class="item-card swiper-slide">
            <a href="{{ product.url }}" class="h-scale">
              <div class="img-box obj-fit">
                <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
              </div>
              <p class="cate">
                {% for collection in product.collections %}
                  {% assign excluded_collections = 'all,tax' | split: ',' %}
                  {% unless excluded_collections contains collection.handle %}
                    {{ collection.title }}
                  {% endunless %}
                {% endfor %}
              </p>
              <p class="name">{{ product.title }}</p>
              <p class="price">{{ product.price | money }}<span>(税込)</span></p>
            </a>
            {% comment %} <a href="#" class="add-cart add-to-cart-btn" data-variant-id="{{ product.variants.first.id }}"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/add-cart.svg" alt=""></a> {% endcomment %}
            <button type="button" class="add-cart add-to-cart-btn" data-variant-id="{{ product.variants.first.id }}"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/add-cart.svg" alt=""></button>
          </div><!-- /.item-card -->
        {% endfor %}
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
            addToCartButtons.forEach(function(button) {
              button.addEventListener('click', function() {
                var variantId = this.getAttribute('data-variant-id');
                var quantity = 1; 
                fetch('/cart/add.js', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    items: [{
                      id: variantId,
                      quantity: quantity
                    }]
                  })
                })
                .then(response => response.json())
                .then(data => {
                  console.log('商品がカートに追加されました', data);
                  alert('商品がカートに追加されました！');
                })
                .catch(error => {
                  console.error('カートへの追加に失敗しました。', error);
                  alert('カートへの追加に失敗しました。');
                });
              });
            });
          });
        </script>

      </div><!-- /.swiper-wrapper -->

      <div class="swiper-scrollbar u-sp"></div>

  </div><!-- /.itemlist-swiper -->

  <div class="btn-wrap">
    <a href="/collections/all/" class="btn01">
      ALL PRODUCTS
    </a>
  </div>
  
</section><!-- /.p-top_wrap02 -->