<section class="p-about_wrap01">
  <div class="inner-wide">
    <div class="layer">

        <div class="block01">
          <div class="inner">
            <div class="about_head-ttl">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>
              <p>CONCEPT STORY</p>
              <h2>南国の黒糖屋さんがつくる、<br>旅するナッツ</h2>
            </div>

            <div class="flex">
              <div class="left fade_triger">
                <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img01.jpg" alt=""></div>
                <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img02.jpg" alt=""></div>
                <div class="img-box anime-fade"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img03.jpg" alt=""></div>
              </div><!-- /.left-->
              <div class="right">
                <p>
                  あキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキストテ<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト
                </p>
              </div><!-- /.right -->
            </div><!-- /.flex -->

            <p class="txt-en">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            </p>
          </div><!-- /.inner -->
        </div><!-- /.block01 -->

        <div class="block02">
          <div class="inner">

            <div class="logo img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>

            <div class="box box01 flex">
              <div class="left">
                <div class="concept-swiper01">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide img-box obj-fit mv01">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img04-1.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img04-1.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide img-box obj-fit mv02">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img04-2.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img04-2.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                  </div><!-- /.swiper-wrapper -->
                </div><!-- /.concept-swiper01 -->
              </div><!-- /.left -->

              <div class="right">
                <h3>沖縄の黒糖屋さんが考えた、<br><span>黒糖をより楽しんでもらうお菓子</span></h3>
                <p>
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキストテ<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト
                </p>
              </div><!-- /.right  -->
            </div><!-- /.box -->


            <div class="box box02 flex">
              <div class="left">
                <div class="concept-swiper02">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide img-box obj-fit mv01">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img05-1.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img05-1.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide img-box obj-fit mv02">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img05-2.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img05-2.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                  </div><!-- /.swiper-wrapper -->
                </div><!-- /.concept-swiper01 -->
              </div><!-- /.left -->

              <div class="right">
                <h3>沖縄の燦々と輝く太陽を浴びた<br><span>サトウキビからできた、楽園の黒糖</span></h3>
                <p>
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキストテ<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト
                </p>
              </div><!-- /.right  -->
            </div><!-- /.box -->


            <div class="box flex">
              <div class="left">
                <div class="concept-swiper03">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide img-box obj-fit mv01">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img06-1.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img06-1.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                    <div class="swiper-slide img-box obj-fit mv02">
                      <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img06-2.jpg" media="(max-width: 769px)">
                        <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_img06-2.jpg" alt="">
                      </picture>
                    </div><!-- /.swiper-slide -->
                  </div><!-- /.swiper-wrapper -->
                </div><!-- /.concept-swiper01 -->
              </div><!-- /.left -->

              <div class="right">
                <h3>黒糖ナッツで、日本と世界を旅する</h3>
                <p>
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキストテ<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト<br class="u-pc">
                  テキストテキストテキスト
                </p>
              </div><!-- /.right  -->
            </div><!-- /.box -->

            <div class="ashirai img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/p-about_ashirai.svg" alt=""></div>

          </div><!-- /.inner -->
        </div><!-- /.block02 -->
    </div>
  </div><!-- /.inner-wide -->
</section><!-- /.p-about_wrap01 -->

<section class="p-about_wrap02">
  <div class="inner-wide">
    <div class="layer">
      <div class="inner">
        <div class="flex">
          <div class="left">
            <h3>ロゴマークに込めた想い</h3>
            <p>
              テキストテキストテキストテキスト<br>
              テキストテキストテキストテキストテキストテキスト<br>
              テキストテキストテキストテキスト<br>
              <br>
              テキストテキストテキストテキスト<br>
              テキストテキストテキストテキストテキスト
            </p>
          </div><!-- /.left -->
          <div class="right">
            <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/logo.png" alt=""></div>
          </div><!-- /.right -->
        </div>
      </div><!-- .inner -->
    </div><!-- /.layer -->
  </div><!-- /.inner-wide -->
</section><!-- /.p-about_wrap02 -->


{% comment %} <div class="top-banner_wrap">
  <div class="inner layer">
    <div class="card-wrapper">
      <div class="card-contents">
        <div class="img-box">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/banner01.jpg" alt="">
            <div class="btn-wrap"><p class="btn01">VIEW DETAIL</p></div>
          </a>
        </div><!-- /.img-box -->
      </div>
    </div><!-- /.card-wrapper -->
    <div class="card-wrapper card02">
      <div class="card-contents">
        <div class="img-box">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/banner02.jpg" alt="">
            <div class="btn-wrap"><p class="btn01">VIEW DETAIL</p></div>
          </a>
        </div>
      </div>
    </div><!-- /.card-wrapper -->
  </div><!-- /.inner -->
</div><!-- /.top-banner_wrap --> {% endcomment %}
{% section 'concept-banner' %}


<section class="p-top_wrap02 layer">

    <div class="head-ttl">
      <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>
      <h2>商品一覧</h2>
    </div>

    <div class="itemlist-swiper">

      <div class="swiper-wrapper">

        {% for product in collections.all.products limit: 10 %}
          <div class="item-card swiper-slide">
            <a href="{{ product.url }}" class="h-scale">
              <div class="img-box obj-fit">
                <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
              </div>
              <p class="cate">
                {% for collection in product.collections %}
                  {% assign excluded_collections = 'all,tax' | split: ',' %}
                  {% unless excluded_collections contains collection.handle %}
                    {{ collection.title }}
                  {% endunless %}
                {% endfor %}
              </p>
              <p class="name">{{ product.title }}</p>
              <p class="price">{{ product.price | money }}<span>(税込)</span></p>
            </a>
            <a href="#" class="add-cart add-to-cart-btn"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/add-cart.svg" alt=""></a>
          </div><!-- /.item-card -->
        {% endfor %}
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
            addToCartButtons.forEach(function(button) {
              button.addEventListener('click', function() {
                var variantId = this.getAttribute('data-variant-id');
                var quantity = 1; 
                fetch('/cart/add.js', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    items: [{
                      id: variantId,
                      quantity: quantity
                    }]
                  })
                })
                .then(response => response.json())
                .then(data => {
                  console.log('商品がカートに追加されました', data);
                  alert('商品がカートに追加されました！');
                })
                .catch(error => {
                  console.error('カートへの追加に失敗しました。', error);
                  alert('カートへの追加に失敗しました。');
                });
              });
            });
          });
        </script>

      </div><!-- /.swiper-wrapper -->

      <div class="swiper-scrollbar u-sp"></div>

  </div><!-- /.itemlist-swiper -->

  <div class="btn-wrap">
    <a href="/collections/all/" class="btn01">
      ALL PRODUCTS
    </a>
  </div>
  
</section><!-- /.p-top_wrap02 -->